<% provide(:title, "Home") %>
<div class="main">
	<div class="wrapper">
		<%= render 'static_pages/header' %>
		<span>
			<h2>
				Hi, I'm Daini Sani.
			</h2>
		</span>
		<span>
			<h3>
				Front-end &amp; Ruby on rails developer.
			</h3>
		</span>
		<a class="home-cta js--scroll-to-about" href="#">Learn more about what we do
            <svg class="home-cta-arrow" width="16" height="8" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.34.495L8.028 7.87.715.495" stroke="#fff" stroke-width="1.5px" fill="none"></path>
            </svg>
        </a>
	</div>
</div>
<main class="wrapper row">

</main>