$primary-color: #f5f5f5;

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	h1 {
	}
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;   
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $primary-color;
}

.main, #head {
	min-height: 70vh;
	margin-bottom: 3rem;
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url("home-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	.wrapper {
		position: relative;
		.header {
			margin-top: 0;
			padding-top: 15px;
			width: 100%;
			.logo {
				float: left;
				margin-top: 10px;
				font-weight: 700;
				letter-spacing: -3px;
			}
			nav {
				float: right;
				margin-top: 20px;
				.nav-links {
					margin-left: 25px;
					font-size: 16px;
					transition: all 0.2s;
					color: rgba(255, 255, 255, .7);
				}
				.nav-links:hover, .active {
					color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

@media (min-width: 80rem) {
	.wrapper {
		position: relative;
		max-width: 80rem;
		width: 100%;
		margin: 0 auto;
	}
}

span, home-cta {
	width: 100%;
	color: $primary-color;
	h2 {
		font-size: 80px;
		font-weight: 800;
		color: $primary-color;
		padding-top: 200px;
		letter-spacing: -1px;
	}
	h3 {
		font-size: 30px;
		font-weight: 700;
		color: $primary-color;
		margin-top: 0;
		letter-spacing: -1px;
	}
}

.intro {
	line-height: 25px;
	margin-top: 2rem;
	font-weight: 300;
	color: $primary-color;
}

a.learn-btn {
	margin-top: 2rem;
	margin-right: 10px;
	padding: 0.75rem 1.75rem;
	text-align: center;
	display: inline-block;
	background: tomato;
}

a.learn-btn:hover {
	background: steelblue;
}

a.hire-btn {
	background-color: rgba(255,255,255,.14);
}

a.hire-btn:hover {
	background: rgba(255,255,255,.18);
}

.home-cta {
    transform: translateX(-50%);
    top: 160%;
    color: rgba(255,255,255,.8);
    display: block;
    font-size: 0.6875em;
    left: 50%;
    padding: 20px;
    position: absolute;
    letter-spacing: -2px;
    white-space: nowrap;
    letter-spacing: 2px;
    z-index: 2;   
}

.home-cta:hover {
    text-decoration: underline;   
}

/*****************************/
/* HEADER PORTFOLIO SECTION */
/****************************/
#head {
	min-height: 50vh;
	background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)), url("c3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.port {
		padding-top: 150px;
		font-size: 70px;
	}
}

main {
	height: 3000px;
	.work-title {
		text-align: center;
		margin-bottom: 2rem;
		padding: 50px 0;
		font-weight: 700;
		color: #333;
	}
	.portfolio-item {
		float: left;
		margin: 0;
		margin-bottom: 3%;
		padding-left: 46px;
	}
}


.porfolio-img {
	width: 440px;
	height: 270px;
}
/*****************************/
/* 12 GRID FRAMEWORK */
/****************************/
.row {
	width: 100%;
}

.col-1 {
	width: 8.3333%;
}

.col-2 {
	width: 16.6666%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.3333%;
}

.col-5 {
	width: 41.6666%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.3333%;
}

.col-8 {
	width: 66.6666%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.333%;
}

.col-11 {
	width: 91.6666%;
}

.col-12 {
	width: 100%;
}
